.map-container {    
    width: auto;
    height: 272px;
    @media only screen and (min-width: 750px) {
        position: absolute;
        width: 551px;
    }
  }
  
  .map-frame {
    border: 2px solid black;
    height: 50%;
  }
  
  #map {
    height: 100%;
  }