
.container {
  height: 90%;
  display: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
mat-card {
  margin-bottom: 32px;
}

.common-button {
  border-radius: 4px;
  line-height: 2.5;
}