<angular-nest-header></angular-nest-header>
<div class="container mat-drawer-container">

  <div fxLayout="row wrap"  fxLayout.lt-sm="column"  fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let city of cities">
      <mat-card fxFlex="0 1 calc(33.3% - 32px)"  fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%" [style.margin-bottom]="'32px'">
        <mat-card-header>
          <mat-card-title>{{city.name}}</mat-card-title>
          <mat-card-subtitle>{{city.country}}</mat-card-subtitle>
          
        </mat-card-header>
        <mat-card-content>
          <button mat-stroked-button 
          color="primary" 
          class="common-button" (click)="OpenModal(city)">View More</button>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>