mat-label {
    margin-bottom: 6px;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
    margin-top: 10px;
    color: rgb(0 0 0 / 70%);
}
.mat-dialog-content {
    height: 150px!important;
}

.mat-dialog-content{
    color: rgb(0 0 0 / 70%);
}