<div >
    <h2 mat-dialog-title>City Information</h2>

    <div mat-dialog-content>
        
  <angular-nest-map [mapData]="city"></angular-nest-map>
        </div>
    <div mat-dialog-content>
        <div fxLayout="row " fxLayoutGap="32px" fxLayout.lt-sm="column">
            <div fxLayout="column" fxLayout.lt-sm="column">
                <mat-label>City Name : {{ city.name }}</mat-label>
                <mat-label>City country : {{ city.country }}</mat-label>
                <mat-label>Population : {{ city.population }}</mat-label>
            </div>
            <div fxLayout="column" fxLayout.lt-sm="column">
                <mat-label>Native Name : {{ city.name_native }}</mat-label>
                <mat-label>Continent : {{ city.continent }}</mat-label>
                <mat-label>Founded : {{ city.founded }}</mat-label>
            </div>
        </div>
        <mat-label>Landmarks: </mat-label>
        <mat-chip-list aria-label="Landmarks">
            <mat-chip *ngFor="let landmark of city.landmarks" color="accent" selected>{{ landmark }}</mat-chip>
        </mat-chip-list>

    </div>


    <div mat-dialog-actions>
    
            <button type="button" mat-flat-button color="primary" [mat-dialog-close]="true">
                Close
            </button>
      
    </div>
</div>